*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #431c43;
}

main{
    height: 88vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.432);
    transition: width .5s, height .5s;
}

#img_principal{
    display: block;
    height: 200px;
    width: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#formulario{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#formulario > h1, #formulario > p{
    text-align: center;
}

.organizar_form{
    display: flex;
    background-color: rgb(49, 49, 204);
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
}

.organizar_form:first-child{
    margin-bottom: 5px;
}

.organizar_form:nth-child(2){
    margin-bottom: 10px;
}

input{
    display: block;
    width: 100%;
    outline: none;
    padding: 5px;
}

.img_form{
    height: 30px;
    width: 30px;
    filter: invert(1);
}

form > input{
    background-color: rgb(7, 7, 212);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}

footer{
    background-color: black;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}